fastapi[all]
python-dotenv
sqlalchemy==2.0.44 # ORM
psycopg2-binary==2.9.11
pydantic==2.12.4 # Validation  
pydantic-settings==2.12.0 # Configuration Settings
alembic==1.17.2 # DB migration
supabase==2.24.0 # File Storage
httpx==0.28.1 # HTTP client
openai==2.8.1 # LLM
PyPDF2==3.0.1 # PDF to Text